<div class="flex flex-col top-14 pt-10 bg-zinc-800 self-start sticky">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente aliquam
    accusamus, assumenda et id voluptate error illo praesentium sed
    repellendus architecto quam tempore, asperiores voluptatum temporibus
    adipisci. Placeat, numquam eum.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente aliquam
    accusamus, assumenda et id voluptate error illo praesentium sed
    repellendus architecto quam tempore, asperiores voluptatum temporibus
    adipisci. Placeat, numquam eum.
  </p>
</div>