<div class="flex items-center justify-between pt-10 pb-28 mt-12 border-t border-zinc-900">
  <div class="flex items-center text-secondary space-x-4">
    <lucide-icon name="Linkedin" [size]="20" class="hover:text-primary" />
    <lucide-icon name="Github" [size]="20" class="hover:text-primary" />
  </div>
  <div class="text-secondary">
    Built by <a href="https://x.com/sergiocode_" target="_blank" class="hover:text-primary underline underline-offset-4">&#64;sergiocode.</a> The source code is available on GitHub.
  </div>
</div>